.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
ninja_fruit.egg-info/
*.egg-info/
*.egg-info
.installed.cfg
*.egg
MANIFEST


.venv/
venv/
ENV/
env/
.env_nf/

# Vosk speech models
src/voskListener/vosk-model-*/
src/voskListener/vosk-model-*.zip